/**************************/
/* HEADER */
/**************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    /* The following are being applied to make the Nav bar sticky later */
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}
/**************************/
/* NAVIGATION */
/**************************/
  .main-nav-list {
      list-style: none;
      display: flex;
      gap: 3.2rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    text-decoration: underline;
  }


/* MOBILE NAVIGATION */


/**************************/
/* HERO SECTION */
/**************************/
  .section-hero {
      max-width: 140rem;
      padding: 4.8rem 0 9.6rem 0;
      background-color: #f7f7f7;
  }

/**************************/
/* SECTION - 1 */
/**************************/
  
/**************************/
/* SECTION - 2 */
/**************************/

/**************************/
/* SECTION - 3 */
/**************************/
  
/**************************/
/* FOOTER */
/**************************/
  

  